{% extends "layout.html" %}
{% block content %}
  <!-- Form
  ================================================== -->
<div class="form">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="lead">
        
        {% for line in article%} 
            <p>
            {% if "img=" in line%}
            <img src={{line[4:]}}>
            {%else%}
            {{line}}
            {%endif%}
            </p>
        {% endfor %}
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
